@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'NEXON Lv2 Gothic';
}

body {
  
}

/* Header */

header {
  background-color: #388FE4;
  position: fixed;
  width: 100%;
  z-index: 4;
}

nav {
  margin: 0 15vw;
  color: white;
  font-weight: 400;
}

#nav_header {
  text-align: right;
}

#modu_logo {
  width: 300px;
  height: 66px;
  cursor: pointer;
}

#nav_login {
  border: none;
  color: #388FE4;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.nav_header {
  margin: 0px 8px;
  font-weight: bold;
  cursor: pointer;
}

#nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

#nav_ul:after {
  display: block;
  content: '';
  clear: both;

}

#nav_title {
  flex: 2;
  font-size: 2.5rem;
}

#nav_header_content {
  font-size: 0.9rem;
  margin: 0 17.4vw;
  padding: 1.5vh 0;
  color: white;
}

.nav_li {
  flex: 1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: column;
  position: relative;
  float: left;
}

.nav_li a {
  cursor: pointer;
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #fff;

}

.nav_li:hover ul {
  display: block;

}

.nav_li ul {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #2261a0;
  border-radius: 8px;
  z-index: 2;
}

.nav_li ul a {
  display: block;
  color: #fff;
  box-shadow: 0 0.2px white;
}

.nav_li ul a:hover {
  background-color: #303131;
  border-radius: 5px;
}

.nav_li ul li {
  list-style: none;
}

#nav_last_a {
  box-shadow: none;
}

/* 스케일을 활용해서 border를 1px보다 얇게 만듬 https://brunch.co.kr/@euid/6에서 참고  */
.w0_5 {
  transform: scaleY(0.3);
  border-bottom: 1px solid white;
}


/* Main */
#main {
  background-color: #388FE4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
  color: white;
  padding: 10vh 0;
  padding-top: 18vh;
}

#main_top_content_box {
  flex: 2;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_top_content_box div,
#main_bottom_content_box div {
  width: 50%;
}

#main_text_box {
  font-size: 2.5rem;
  line-height: 50px;
  margin: 0 10px;
}

#main_scroll_box {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;
}

#main_bottom_content_box {
  flex: 5;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#main_categori_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;
}

#main_categori_box ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-left: 14.5px;
}

#main_categori_box ul li {
  flex-basis: 25%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  cursor: pointer;
}

#main_categori_box ul li:hover {
  background-color: #388FE4;
  border-radius: 5px;
  box-shadow: 0 1px 6px #394f77;
}

#main_login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;
}

.main_categori_img {
  height: 111px;
  width: 93px;
  border-radius: 5px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0 10vw;
}

#footer_logo {
  flex: 1;
  padding-left: 40px;
}

#footer_content {
  flex: 3;

}

#footer_content div {
  padding: 0.3vh 0;
}

#footer_content div span {
  display: inline-block;
  padding-left: 1vw;
}

/* ProductList */

.productList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* Product */

#line_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w0_5b {
  transform: scaleY(0.3);
  border-top: 1px solid #388FE4;
  width: 80%;
  height: 100%;
}

.product {
  height: 55vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1652px;
}

#RF카드,
#주차권발행,
#요금계산기,
#신호관제 {
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
}

#RF카드 .product,
#주차권발행 .product,
#요금계산기 .product,
#신호관제 .product {
  min-width: 1780px;
  padding-left: 130px;

}

#RF카드 #detail_page,
#주차권발행 #detail_page,
#요금계산기 #detail_page,
#신호관제 #detail_page {
  left: 590px;
  top: -188px;
}

#left_arrow {
  position: relative;
  top: 250px;
  right: 40px;
}

#right_arrow {
  position: relative;
  top: 250px;
  right: -1530px;
}

#left_arrow img,
#right_arrow img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#left_arrow img:active {
  position: relative;
  right: 0.3vh
}

#right_arrow img:active {
  position: relative;
  left: 0.3vh
}

.product_img_box {
  flex: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}

.product_contents_box {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0px;
  flex-direction: column;
}

#product_img {
  height: 100%;
}

#product_contents_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin: 20px 0;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#product_contents_top span {
  padding: 10px 30px;
  border-radius: 20px;
  color: #388FE4
}

#product_contents_bottom {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product_contents_bottom_contents {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 1.8rem;
  margin: 0px 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0px 3px 1.5px #388FE4;
  width: 18%;
  font-weight: 600;
}

.product_contents_bottom_contents:hover {
  background-color: #388FE4;
  color: white;
}

#content_detail {
  position: relative;
}

#detail_X_box {
  position: absolute;
  right: 30px;
  top: 30px;
}

#detail_X_box img {
  width: 30px;
  cursor: pointer;
}

#detail_page {
  position: absolute;
  top: 72px;
  right: -400px;
  background-color: white;
  height: 40vh;
  width: 40vw;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0 1px 6px #394f77;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.detail_product_name {
  width: 100%;
  height: 20%;
}

.detail_product_name span {
  font-size: 2rem;
  padding: 10px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
}

.detail_name {
  width: 100%;
  height: 20%;
}

.detail_name span {
  box-shadow: 0 1px 6px #394f77;
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  background-color: #677b8f;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
}

.detail_content {
  width: 100%;
  height: 60%;
  background-color: #afb6b63b;
  box-shadow: 0 1px 6px #394f77;
  padding: 15px;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  color: #666d74;
  overflow-y: auto;
}

.detail_content ul {
  padding: 0px 20px;
  line-height: 25px;
}