@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'NEXON Lv2 Gothic';
}

body {}

/* Header */

header {
  background-color: #388FE4;
  position: fixed;
  width: 100%;
  z-index: 4;
}

nav {
  margin: 0 15vw;
  color: white;
  font-weight: 400;
}

#nav_header {
  text-align: right;
}

#modu_logo {
  width: 300px;
  height: 66px;
  cursor: pointer;
}

#nav_login {
  border: none;
  color: #388FE4;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.nav_header {
  margin: 0px 8px;
  font-weight: bold;
  cursor: pointer;
}

#nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

#nav_ul:after {
  display: block;
  content: '';
  clear: both;

}

#nav_title {
  flex: 2;
  font-size: 2.5rem;
}

#nav_header_content {
  font-size: 0.9rem;
  margin: 0 17.4vw;
  padding: 1.5vh 0;
  color: white;
}

#nav_triangle_box {
  position: relative;
}

#nav_triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 33px;
  left: -15px;
}

#nav_triangle img {
  width: 30px;
  height: 20px;
}

.nav_li {
  flex: 1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: column;
  position: relative;
  float: left;
}

.nav_li a {
  cursor: pointer;
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #fff;

}

.nav_li:hover ul {
  display: block;
}

.nav_li ul {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #434C6D;
  border-radius: 8px;
  z-index: 2;
}

.nav_li ul a {
  display: block;
  color: #fff;
  box-shadow: 0 0.2px white;
}

.nav_li ul a:hover {
  background-color: #303131;
  border-radius: 5px;
}

.nav_li ul li {
  list-style: none;
}

.nav_li ul li:last-child a {
  box-shadow: none;
}

/* 스케일을 활용해서 border를 1px보다 얇게 만듬 https://brunch.co.kr/@euid/6에서 참고  */
.w0_5 {
  transform: scaleY(0.3);
  border-bottom: 1px solid white;
}

/* Main */
#wrap_main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 99vw;
  overflow-x: hidden;
}

#main {
  background-color: #388FE4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
  color: white;
  padding: 10vh 0;
  padding-top: 18vh;
  min-width: 100vw;
}

#main_top_content_box {
  flex: 2;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_top_content_box div,
#main_bottom_content_box div {
  width: 50%;
}

#main_text_box {
  font-size: 2.5rem;
  line-height: 50px;
  margin: 0 10px;
}

#main_scroll_box {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;
}

#main_bottom_content_box {
  flex: 5;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#main_categori_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;
}

#main_categori_box ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-left: 14.5px;
}

#main_categori_box ul li {
  flex-basis: 25%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  cursor: pointer;

}

#main_categori_box ul li:hover {
  background-color: #388FE4;
  border-radius: 5px;
  box-shadow: 0 1px 6px #394f77;
}

#main_login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 6px #394f77;
  margin: 0 10px;

}

.main_categori_img {
  height: 111px;
  width: 93px;
  border-radius: 5px;
}

/* MainGreetings */

#main_section {
  background-color: #388FE4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
  padding: 10vh 0;
  padding-top: 18vh;
  min-width: 100vw;
}

#main_section_box {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  font-size: 1.26rem;
  line-height: 37px;
  font-weight: bold;
  margin-left: 30px;
}

#impact_message {
  background-color: #c8dff8;
  border-radius: 5px;
  padding: 3px;
}



#greetings_box{
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  font-size: 1.26rem;
  line-height: 37px;
  font-weight: bold;
  margin-left: 30px;
}

#greetings_box div {
  width: 100%;
}

#greetings_box div:last-child {
  padding-left: 100px;
  text-align: right;
}

#greeting_logo_box {
  position: relative;
  margin-top: 0px;
}

.greetings_logo {
  position: absolute;
  width: 150px;
  height: 35px;
}

#greetings_bottom_logo {
  right: 5px;
}

/* kakao Map */

#map{
  margin-bottom:30px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0 10vw;
}

#footer_logo {
  flex: 1;
  padding-left: 40px;
}

#footer_content {
  flex: 3;
}

#footer_content div {
  padding: 0.3vh 0;
}

#footer_content div span {
  display: inline-block;
  padding-left: 1vw;
}

/* ProductList */

.productList {
  width: 99vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

#productList_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* Product */

#line_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.w0_5b {
  transform: scaleY(0.3);
  border-top: 1px solid #388FE4;
  width: 80%;
  height: 100%;
}

.product {
  height: 55vh;
  width: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 1652px;
}

#RF카드,
#주차권발행,
#요금계산기,
#신호관제 {
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 1652px;
}

#RF카드 {
  width: 1652px;
}

#RF카드 #detail_page,
#주차권발행 #detail_page,
#요금계산기 #detail_page,
#신호관제 #detail_page {
  left: 523px;
  top: -188px;
}

#left_arrow {
  position: relative;
  top: 250px;
  right: 0px;
}

#right_arrow {
  position: relative;
  top: 250px;
  right: -1545px;
}

#left_arrow img,
#right_arrow img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#left_arrow img:active {
  position: relative;
  right: 0.3vh
}

#right_arrow img:active {
  position: relative;
  left: 0.3vh
}

.product_img_box {
  flex: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
  padding-left: 150px;
}

.product_contents_box_booth {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#booth_id {
  position: absolute;
  top: -200px;
  left: 0px;
  height: 300px;
  width: 100%;
}

/* 스크롤바 스타일 참고 링크 https://gurtn.tistory.com/120 */

.product_img_box_booth::-webkit-scrollbar {
  height: 30px;
  /* 스크롤바의 너비 */
}

.product_img_box_booth::-webkit-scrollbar-thumb {
  background: #388FE4;
  border-radius: 10px;
}

.product_img_box_booth::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
  /*스크롤바 뒷 배경 색상*/
}


.product_img_box_booth {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  padding-top: 100px;
  overflow-x: auto;
  padding-bottom: 30px;
}

.product_contents_box {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0px;
  flex-direction: column;
}

#product_img {
  height: 100%;
}

#product_contents_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin: 20px 0;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#product_contents_top span {
  padding: 10px 30px;
  border-radius: 20px;
  color: #388FE4
}

#product_contents_bottom {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product_contents_bottom_contents {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 1.8rem;
  margin: 0px 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0px 3px 1.5px #388FE4;
  width: 18%;
  font-weight: 600;
}

.product_contents_bottom_contents:hover {
  background-color: #388FE4;
  color: white;
}

#content_detail {
  position: relative;
}

#detail_X_box {
  position: absolute;
  right: 30px;
  top: 30px;
}

#detail_X_box img {
  width: 30px;
  cursor: pointer;
}

#detail_box {
  position: relative;
}

#detail_page {
  position: absolute;
  top: 100px;
  left: -300px;
  background-color: white;
  height: 40vh;
  width: 40vw;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0 1px 6px #394f77;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.detail_product_name {
  width: 100%;
  height: 20%;
}

.detail_product_name span {
  font-size: 2rem;
  padding: 10px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
}

.detail_name {
  width: 100%;
  height: 20%;
}

.detail_name span {
  box-shadow: 0 1px 6px #394f77;
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  background-color: #677b8f;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
}

.detail_content {
  width: 100%;
  height: 60%;
  background-color: #afb6b63b;
  box-shadow: 0 1px 6px #394f77;
  padding: 15px;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  color: #666d74;
  overflow-y: auto;
}

.detail_content ul {
  padding: 0px 20px;
  line-height: 25px;
}

/* TopBtn */

#top_btn_box {
  position: relative;
}


/* 진동효과 참고 링크 https://gurtn.tistory.com/170 */
#top_btn {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 1820px;
  cursor: pointer;
  animation: moveTop 1s infinite;
}

@keyframes moveTop {
  0% {
    top: 800px;
  }

  100% {
    top: 780px;
  }
}